body{
    --color-primary: #EEF0F2;
    --color-secondary: #FFFFFF;
    --color-tertiary: #0D21A1;
    --color-quaternary: #011638;
    --color-quinary: #EEC643;
    --color-success: green;
    --color-error: red;
    --border-radius: 10px;

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    font-family: 'IBM Plex Sans', sans-serif;
}

.container{
    width: 500px;
    margin: 1rem;
    padding: 2rem;
    font-size: 18px;
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
}

.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form__title-main{
    font-size: 40px;
    margin-bottom: 0;
}

.form__title-sub{
    font-size: 25px;
    margin-bottom: 2rem;
}

.form__message-error{
    color: var(--color-error);
}

.form__message-success{
    color: var(--color-success);
}

.form__input-group{
    margin-bottom: 1rem;
}