.searchContainer {
    width: 100%;
}

h4, h3 {
    font-size: 27px;
    margin-top: 0%;
    margin-bottom: 0%;
}

#cartInformation {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 14px;
    margin-left: 20px;
    width: 100%;
}

#cardPreview {
    background-color: #011638;
    padding: 20px;
    border-radius: 14px;
    display: flex;
    width: 100%;
    align-items: flex-end;
}

#cardPreview > img {
    margin-left: auto;
}

#cardPreview > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#cardTitle {
    font-size: 23px;
    font-weight: 500;
    color: #ffffff;
}

#cardNumber {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 0px;
}

#cardExpiryTitle {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 0px;
    opacity: 0.8;
}

#cardExpiry {
    font-size: 23px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 0px;
    opacity: 0.8;
}

#cardHolderName {
    font-size: 23px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 32px;
}

#addToCart {
    
    background-color: #0D21A1;
    color: #ffffff;
    border-radius: 16px;
    width: 100%;
    margin-top: 64px;

    display: flex;
    padding: 16px;
    
    border: none;

    flex-direction: column;
}

#addToCart:hover {
    background-color: #5665c3;
}

#addToCartPrice {
    margin-left: auto;
    color: #0D21A1;
    padding: 8px;
    background-color: #ffffff;
    margin-bottom: 0px;
    border-radius: 8px;
}

.progressBar {
    margin-bottom: 16px;
}
