.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    padding: 64px;
    border-radius: 32px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confetti {
    z-index: -1;
    width: 100%; 
    height: 100%;
}

#deliveryDateTime {
    color: #0D21A1;
    margin-top: 0px;
}

#orderArrivalTitle {
    font-weight: 600;
    margin-bottom: 0px;
}

#pointsProgress {
    background-color: #0D21A1;
    padding: 24px;
    color: #FFFFFF;
    border-radius: 10px;
}

#pointsProgress > h2 {
    margin-top: 0px;
}

#gameCTA {
    display: none;
    text-decoration: none;
    background-color: #0D21A1;
    width: 100%;
    border-radius: 12px;
    margin-top: 32px;
}

#gameCTA > h2 {
    text-align: center;
    color: #ffffff;
}

#gameCTA:hover {
    background-color: #EEF0F2;
}

#gameCTA:hover > h2 {
    color: #0D21A1;
}


@media only screen and (max-width: 700px) {
    .container {
        background-color: #ffffff00;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        position: absolute;
        padding: 0px;
        border-radius: 0px;
    }
}