*{
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
  background-color: #EEF0F2;
  color: #0D21A1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0;
}

#title{
  font-size: 40px;
  font-weight: bold;
  margin: 2rem auto;
}

#score{
  margin-left: 100%;
  font-size: 25px;
  font-weight: bold;
}

#canvas{
  border-radius: 10px;
  background-color: #FFFFFF;
}

#howToPlay{
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  margin: 3rem auto;
  padding: 2rem;
}

#overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

#overlay #card{
  color: white;
  text-align: center;
  background-color: #0D21A1;
  padding: 1.5rem;
  width: auto;
  height: auto;
  border-radius: 10px;
  animation: cardIn 1s forwards;
  display: none;
}

#overlay #card > h3{
  font-size: 40px;
  margin: 1rem auto 1rem;
  user-select: none;
}

#overlay #card > p{
  font-size: 23px;
  margin-top: 0.5rem auto 0.5rem;
  user-select: none;
}

#date{
  text-decoration: underline;
  font-size: 26px;
}

#overlay #card > button{
  margin: 0.5rem auto 1rem;
  outline: none;
  color: #0D21A1;
  border: none;
  background-color: #EEF0F2;
  padding: 1rem;
  width: auto;
  border-radius: 10px;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}

#overlay #card > button:hover{
  color: #0D21A1;
  background-color: #FFFFFF;
}

@keyframes cardIn{
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 100%;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 600px) {
  #title{
    font-size: 30px;
  }
  
  #score{
    margin-left: 30%;
    font-size: 15px;
  }
  
  #howToPlay{
    font-size: 16px;
  }
  
  #overlay #card{
    margin-bottom: 5%;
    padding: 1rem;
  }

  #overlay #card > h3{
    font-size: 30px;
  }
  
  #overlay #card > p{
    font-size: 13px;
    margin-top: 1rem;
    user-select: none;
  }

  #date{
    font-size: 16px;
  }
  
  #overlay #card > button{
    margin: 0.75rem auto 0.75rem;
    padding: 0.75rem;
    font-size: 13px;
  }
}
