body{
    --color-primary: #EEF0F2;
    --color-secondary: #FFFFFF;
    --color-tertiary: #0D21A1;
    --color-quaternary: #011638;
    --color-quinary: #EEC643;
    --color-success: green;
    --color-error: red;
    --border-radius: 10px;

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    font-family: 'IBM Plex Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.container{
    width: 500px;
    margin: 1rem;
    padding: 2rem 2rem 1.5rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
}

.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form__title-main{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.form__title-sub{
    font-size: 25px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 2rem;
}

.form__message{
    text-align: center;
    margin-bottom: 1.5rem;
}

.form__message-error{
    color: var(--color-error);
}

.form__message-success{
    color: var(--color-success);
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 1rem 1.2rem;
    border: none;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: bold;
}

.form__input-error{
    color: var(--color-error);
}

.form__input-message-error{
    margin-top: 0.75rem;
    color: var(--color-error);
}

.form__button{
    display: block;
    margin: 3rem auto 0.5rem;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-secondary);
    background: var(--color-tertiary);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
}

#addpayment .form__button{
    display: block;
    margin: 0.5rem auto 0.5rem;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-secondary);
    background: var(--color-tertiary);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
}

.form__button:hover{
    background-color: var(--color-primary);
    color: var(--color-tertiary);
}

.form__button:active{
    transform: scale(0.95);
}

.form__button:disabled{
    opacity: 60%;
    color: var(--color-secondary);
    background: var(--color-tertiary);
}

.form__text{
    text-align: center;
}

.form__link{
    color: var(--color-tertiary);
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}

.row{
    box-sizing: border-box;
}

.column{
    float: left;
    width: 45%;
}

.col1{
    margin-right: 10%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

#expiryDate{
    padding: 0.9rem 1.2rem;
}

.plusCard{
    margin: 0 auto;
}

.payment__text-main{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
}

.payment__text-sub{
    margin-top: 0;
    font-size: 14px;
}

#plusContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D21A1;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}


#plusButton{
    position: relative;
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
}

.col3{
    width: 80%;
    float: left;
}

.col4{
    margin-left: 10%;
    width: 10%;
    float: right;
    margin: 1rem 0;
}

.cards{
    margin: 0 auto 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;
}

#card1{
    display: none; /*block*/
    padding: 1.5rem;
    width: 90%;
    height: auto;
    background-color: #011638;
    border-radius: 20px;
    text-align: left;
    color: var(--color-secondary);
}

#cdTitle {
    font-size: 23px;
    font-weight: 400;
    margin:0 auto 0.5rem;
}
#cdNumber {
    font-size: 36px;
    font-weight: bold;
    margin:0 auto 1rem;
}
#cdExpiryTitle {
    font-size: 15px;
    font-weight: bold;
    margin:0 auto 0.25rem;
}
#cdExpiry {
    font-size: 23px;
    font-weight: bold;
    margin:0 auto 1.5rem;
}
#last{
    width: 100%;
    height: 2rem;
    display: inline-block;
}
#cdName {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
}
#logo{
    position: relative;
    bottom: 1.5rem;
    width: 50px;
    height: auto;
    float:right;
}




@media screen and (max-width: 600px) {
    body{
        display: flex;
        align-items: start;
        background: var(--color-primary);
    }
    
    .container{
        width: 100%;
        margin: 3rem 0rem 0rem;
        padding: 1rem;
        font-size: 16px;
        font-weight: 500;
        background-color: var(--color-primary);
        z-index: 0;
    }
    
    .form__title-main{
        font-size: 30px;
    }
    
    .form__title-sub{
        font-size: 20px;
        margin-bottom: 3rem;
    }
    
    .form__message{
        text-align: center;
        margin-bottom: 1.5rem;
    }
    
    .form__input{
        padding: 1rem 1.2rem;
    }

    .buttonlink{
        z-index: 1;
        width: 100%;
        height: auto;
        margin: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 1.5rem 0 1rem;
        background-color: var(--color-secondary);
        border-radius: var(--border-radius);
    }
    
    .form__button{
        width: 92%;
        margin: 0rem 1rem;
        padding: 1rem;
        font-size: 20px;
        align-items: center;
    }

    .form__text{
        margin-bottom: 0.5rem;
        padding-bottom: 0;
        font-size: 13px;
    }
    
    .row{
        box-sizing: border-box;
    }
    
    .col1{
        float: left;
        width: 55%;
        margin-right: 5%;
    }
    
    .col2{
        width: 40%;
    }

    #card1{
        padding: 1.2rem;
        border-radius: 13px;
    }
    
    #cdTitle {
        font-size: 16px;
        margin: 0 auto 0.25rem;
    }
    #cdNumber {
        font-size: 24px;
        margin: 0 auto 0.5rem;
    }
    #cdExpiryTitle {
        font-size: 10px;
        margin: 0 auto 0.1rem;
    }
    #cdExpiry {
        font-size: 16px;
        margin: 0 auto 0.8rem;
    }
    #cdName {
        font-size: 16px;
    }
    #last{
        height: 1.5rem;
    }
    #logo{
        width: 35px;
        bottom: 1rem;
    }
    
}