html {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    color: #707070;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 18px;
    }
    h3, h4 {
        font-size: 16px;
    }   
}

p {
    font-size: 22px;
    font-weight: 500;
    color: #707070;
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    nav {
        align-items: flex-start;
        flex-direction: column;
    }

    nav > h1 {
        margin-bottom: 12px;
    }
}

.container {
    margin: 48px
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 16px;
    }
}

.searchCartContainer {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    width: 50%;
    margin-bottom: 12px;
}

@media only screen and (max-width: 600px) {
    .searchCartContainer {
        margin-left: inherit;
        width: 100%;
    }
}

.searchContainer {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 19px;
    padding: 0px 16px 0px 16px;
    height: 50px;
    width: calc(100% - 100px);
}

#search {
    border: none;
    margin: 0px;
    width: 100%;
    font-size: 19px;
    font-weight: 500;
    padding-left: 8px;
    font-family: 'IBM Plex Sans', sans-serif;
    outline: none !important;
}

@media only screen and (max-width: 600px) {
    #search {
        font-size: 18px;
    }
}

.cartContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;

    margin-left: 16px;
}

.cartContainer:hover {
    background-color: #0D21A1;
}

.cartContainer:hover > img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(104%) contrast(104%);
}

.stepper {
    background-color: #EEF0F2;
    margin-left: auto;
    border-radius: 8px;
    display: flex;
    padding: 8px;
    height: min-content;
    align-items:center;
}

.stepper > h3 {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 27px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.stepper > button {
    color: #0D21A1;
    font-weight: 700;
    font-size: 30px;
    border: none;
    padding: 8px;
    background: none;
}

.stepper > button:hover {
    color: #838dc9;
}

button {
    font-family: 'IBM Plex Sans', sans-serif;
}

.progressBar, .progressBarItem {
    border-radius: 6px;
    height: 12px;
}

.progressBar {
    background-color: #EEF0F2; 
    width: 100%;
    margin-top: 16px;
}

.progressBarItem {
    background-color: #EEC643;
}