html {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}