html {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 22px;
    font-weight: 500;
    color: #707070;
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
}

.container {
    margin: 48px
}