.tag {
    display: flex;
    flex-direction: row;
    padding: 12px;
    width: fit-content;
    border-radius: 11px;
    margin-bottom: 16px;
    background-color: #0d21a10b;
}

.tag > img {
    width: 24px;
    height: 24px;
}

.tag > h3 {
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#tags {
    display: flex;
    gap: 16px;
}

#productInformation {
    display: flex;
    gap: 32px;
}

#productInformation > div {
    width: 100%;
}

.productDescriptionContainer {
    border-radius: 32px;
    background-color: #ffffff;
    padding: 32px;
    display: flex;
    gap: 32px;
}

.productDescriptionContainer > p {
    margin-right: auto;
}

.productImage {
    border-radius: 32px;
    width: fit-content;
    height: fit-content;
    background-color: #0d21a117;
}

#addToCart {
    background-color: #0D21A1;
    color: #ffffff;
    border-radius: 32px;
    width: 100%;
    margin-top: 16px;

    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;

    flex-direction: column;
}

#addToCart:hover {
    background-color: #5665c3;
}

#addToCartPrice {
    margin-left: auto;
    color: #0D21A1;
    padding: 16px;
    background-color: #ffffff;
    margin-bottom: 0px;
    border-radius: 8px;
}

.progressBar {
    margin-bottom: 16px;
}

.hiddenOnMobile {
    display: inherit;
}

.shownOnMobile {
    display: none;
}
@media only screen and (max-width: 600px) {
    .hiddenOnMobile {
        display: none;
    }
    
    .shownOnMobile {
        display: inherit;
    }
}

nav {
    align-items: flex-start !important;
}

.searchCartContainer {
    margin-top: 32px;
}

#productNameMobile {
    display: none;
}

.searchCartContainer > button {
    display: none;
}

@media only screen and (max-width: 600px) {
    .searchContainer {
        display: none !important;
    }

    .productImage {
        border-radius: 32px;
        width: 100%;
        aspect-ratio: 1;
        background-color: #00000000;
        position: fixed;
        margin-top: 32px;
        z-index: 0;
    }

    #productInformation {
        flex-direction: column;
        margin-left: -24px;
        margin-right: -24px;
    }

    #productName {
        display: none;
    }

    #productNameMobile {
        display: inherit;
        width: 100%;
        margin-bottom: 0px;
    }

    .productDescriptionContainer {
        margin-top: calc(100vw + 32px);
        flex-direction: column;
        position: relative;
        gap: 16px;
        z-index: 3;
    }

    .header {
        width: calc(100% - 48px);
    }

    nav {
        width: 100%;
    }
    .searchCartContainer > button {
        background-color: #ffffff;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: auto;
    }

    .searchCartContainer > button:hover {
        background-color: #0D21A1;
    }
    
    .searchCartContainer > button:hover > img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(104%) contrast(104%);
    }

    .header {
        z-index: 2;
        position: fixed;
    }

    .tag {
        display: none;
    }
}