.tag {
    display: flex;
    flex-direction: row;
    padding: 12px;
    width: fit-content;
    border-radius: 11px;
    margin-bottom: 16px;
    background-color: #0d21a10b;
}

.tag > img {
    width: 24px;
    height: 24px;
}

.tag > h3 {
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#tags {
    display: flex;
    gap: 16px;
}

#productInformation {
    display: flex;
    gap: 32px;
}

.productDescriptionContainer {
    border-radius: 32px;
    background-color: #ffffff;
    padding: 32px;
    display: flex;
    gap: 32px;
}

.productImage {
    border-radius: 32px;
    width: fit-content;
    height: fit-content;
    background-color: #0d21a117;
}