.tag {
    display: flex;
    flex-direction: row;
    padding: 12px;
    width: fit-content;
    border-radius: 11px;
    margin-bottom: 16px;
    background-color: #0d21a10b;
}

.tag > img {
    width: 24px;
    height: 24px;
}

.tag > h3 {
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#tags {
    display: flex;
    gap: 16px;
}

#productInformation {
    display: flex;
    gap: 32px;
}

.productDescriptionContainer {
    border-radius: 32px;
    background-color: #ffffff;
    padding: 32px;
    display: flex;
    gap: 32px;
}

.productImage {
    border-radius: 32px;
    width: fit-content;
    height: fit-content;
    background-color: #0d21a117;
}

#addToCart {
    background-color: #0D21A1;
    color: #ffffff;
    border-radius: 32px;
    width: 100%;
    margin-top: 16px;

    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}

#addToCart:hover {
    background-color: #5665c3;
}

#addToCartPrice {
    margin-left: auto;
    color: #0D21A1;
    padding: 16px;
    background-color: #ffffff;

    border-radius: 8px;
}

.hiddenOnMobile {
    display: inherit;
}

.shownOnMobile {
    display: none;
}
@media only screen and (max-width: 600px) {
    .hiddenOnMobile {
        display: none;
    }
    
    .shownOnMobile {
        display: inherit;
    }
}

nav {
    align-items: flex-start !important;
}

.searchCartContainer {
    margin-top: 32px;
}

@media only screen and (max-width: 600px) {
    .searchContainer {
        display: none !important;
    }

    .productImage {
        border-radius: 32px;
        width: 100%;
        height: 100%;
        background-color: #00000000;
    }

    #productInformation {
        flex-direction: column;
        margin-left: -24px;
        margin-right: -24px;
    }

    /* #productName { */
        /* display: none; */
    /* } */
}