*{
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #EEF0F2;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  .container{
    position: relative;
    width: 500px;
    height: 500px;
  }
  
  .container:after{
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background: no-repeat;
    background-image: url("../assets/game/arrow-left.png");
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .slice{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    border: 10px solid #0D21A1;
    position: relative;
    transition: all ease 5s;
    overflow: hidden;
  }
  
  span{
    width: 50%;
    height: 50%;
    position: absolute;
    clip-path: polygon(50% -30%,90% 4%,50% 100%,10% 4%);
    transform: translateX(-50%);
    transform-origin: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 121px;
    
  }
  
  .one{
    background-color: #0D21A1;
    left: 50%;
  }
  .two{
    background-color: #FFFFFF;
    transform: rotate(45deg);
  }
  .three{
    background-color: #0D21A1;
    transform: rotate(90deg);
  }
  .four{
    background-color: #FFFFFF;
    transform: rotate(135deg);
  }
  .five{
    background-color: #0D21A1;
    transform: rotate(180deg);
  }
  .six{
    background-color: #FFFFFF;
    transform: rotate(225deg);
  }
  .seven{
    background-color: #0D21A1;
    transform: rotate(270deg);
  }
  .eight{
    background-color: #FFFFFF;
    transform: rotate(315deg);
  }

  span img{
    position: absolute;
    top: 12%;
    left: 30%;
    line-height: 50%;
    padding: 0.5rem;
    pointer-events: none;
  }

  span p{
    display: none;
  }
  
  
  .spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #EEC643;
    background: #0D21A1;
    color: #EEC643;
    box-shadow: 0 5px 20px black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
  
  .spin:active{
    width: 70px;
    height: 70px;
    font-size: 18px;
  }
  
  .container.animate:after{
    animation: animateArrow 0.7s ease infinite;
  }
  
  @keyframes animateArrow{
    50%{
      right: -40px;
    }
  }


  #overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
  }

  #overlay #card{
    color: white;
    text-align: center;
    background: #0D21A1;
    padding: 1.5rem;
    width: auto;
    height: auto;
    border-radius: 10px;
    animation: cardIn 1s forwards;
    
  }

  #title{
    margin: 0;
    white-space: nowrap;
    position: absolute;
    right: 20%;
    top: 5%;
    font-size: 25px;
    font-weight: bold;
    color: #0D21A1;
  }

  #overlay #card > h3{
    left: 0%;
    font-size: 40px;
    margin: 2rem auto 2rem;
    user-select: none;
  }

  #overlay #card > p{
    font-size: 23px;
    margin: 0.5rem auto 0.5rem;
    user-select: none;
  }

  #product{
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    left: 0;
    white-space: nowrap;
  }

  #qty{
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    left: 0;
    white-space: nowrap;
  }

  #overlay #card > button{
    margin: 3rem auto 1rem;
    outline: none;
    color: #0D21A1;
    border: none;
    background-color: #EEF0F2;
    padding: 1rem;
    width: auto;
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #overlay #card > button:hover{
    color: #0D21A1;
    background-color: #FFFFFF;
  }
  
  @keyframes cardIn{
    0%{
      opacity: 0;
      transform: translateY(-50px);
    }
    100%{
      opacity: 100%;
      transform: translateY(0px);
    }
  }



  @media screen and (max-width: 600px) {
    body{
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      height: 100vh;
      overflow: hidden;
      background: #EEF0F2;
    }
    
    .container{
      left: -4%;
      position: relative;
      width: 280px;
      height: 280px;
    }
    
    span{
      left: 25%;
    }
    
    span img{
      width: 65px;
      height: 65px;
      top: 5%;
      left: 26%;
    }
    
    .spin{
      width: 60px;
      height: 60px;
      border: 4px solid #FFFFFF;
      font-weight: bold;
      font-size: 15px;
    }
    
    .spin:active{
      width: 55px;
      height: 55px;
      font-size: 18px;
    }
  }
  
  